<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
	<title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	#mySidenav a {
	  position: absolute;
	  left: -80px;
	  transition: 0.3s;
	  padding: 15px;
	  width: 100px;
	  text-decoration: none;
	  font-size: 20px;
	  color: white;
	  border-radius: 0 5px 5px 0;
	}

	#mySidenav a:hover {
	  left: 0;
	}

	#about {
	  top: 20px;
	  background-color: #4CAF50;
	}

	#blog {
	  top: 80px;
	  background-color: #2196F3;
	}

	#projects {
	  top: 140px;
	  background-color: #f44336;
	}

	#contact {
	  top: 200px;
	  background-color: #555
	}
	</style>
</head>
<body>
		<div style="margin-left:180px;">
			 {% block head %}
			 {% endblock %}
			<h1>PUBLIC EVENTS:</h1>
 				{% for j in obj %}
 				{% if j.public %}
		  		<a href="{% url 'event_detail' j.id %}">{{j.name}}</a><br>
		    	{% endif %}
		    	{% endfor %}
		    {% block content %}
			    <div>{% if user.is_authenticated %}
				Hi {{ user.username }}!
				<br>
				<p><a href="{% url 'logout' %}">logout</a></p><br>
				{% else %}
				<p>You are not logged in</p><br>
				<a href="{% url 'login' %}">login</a><br>
				<a href="{% url 'signup' %}">signup</a><br>
				{% endif %}
				</div>
		    {% endblock %}
		</div>
</body>
</html>